<div ng-hide="userData">
	<h3>Login</h3>
	<form ng-submit="login()">
		<p>
			<input placeholder="Username" type="text" name="username" ng-model="username"/>
		</p>
		<p>
			<input placeholder="Password" type="password" name="password" ng-model="password"/>
		</p>
		<p><input type="submit" value="Login" /></p>
	</form>
</div>
<div ng-show="userData">
	Ciao {{userData.name}} {{userData.surname}}
</div>
<!--
<div ng-repeat="table in tables">
	<h3>{{table.title}}</h3>
	<my-custom-directive datasource="table.source"></my-custom-directive>
</div>
-->
<br/>